.context-menu-title:disabled {
    -fx-opacity: 1.0;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.context-menu-title:disabled .label {
    -fx-opacity: 1.0;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.context-menu-title:disabled:hover {
    -fx-background-color: white;
}

.context-menu-title:disabled:hover .label {
    -fx-background-color: white;
    -fx-text-fill: black;
}